%p.st
  %i.fa.fa-home.fa-lg
  = t('sidebar.address_title')
#google_map
%p
  %span= t('sidebar.address')
%p.st
  %i.fa.fa-clock-o.fa-lg
  = t('sidebar.workhours_title')
%p
  %span= t('sidebar.workhours')
%p.st
  %i.fa.fa-phone.fa-lg
  = t('sidebar.phone_title')
%p
  %span
    +40 264 274 057<br/>
    +40 364 401 068<br/>
%p.st
  %i.fa.fa-envelope-o.fa-lg
  = t('sidebar.email_title')
%p
  %span office&#064;cndcontrol.ro
